.card {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.card::-webkit-scrollbar {
  display: none;
}

.containerAlbumName {
  overflow-wrap: break-word;
  word-break: break-word;
}

.albumName {
  width: 100%;
  white-space: normal;
  font-size: 13px;
  text-align: center;
}

.progressbarContainer {
  background-color: red;
  height: 50px;
  width: 100%;
} 

.container {
  display: flex;
  flex-direction: row;
}