.container {
    background-color: #141414 !important;
}

.cuadrado {
    height: 360px;
    width: 300px;
    background-color: #000000;
    position: relative;
    top: -20px;
    left: -20px;
}

.circle {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    position: absolute;
    top:120px;
    bottom: 0;
    left: 20px;
    right: 0;
    overflow: hidden;
}

.containerAlbumImage {
    position: relative;
}

.circleImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;

}

.title {
    margin-top: 70px;
    font-size: 23px;
    color: white;
}

.fullcontrols {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 0;
}

.containerProgress {
    position: relative;
    margin-top: 40px;
}

.containerTimer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    color: white;
}