.container {
    background-color: #141414 !important;
}

.cuadrado {
    height: 360px;
    width: 300px;
    background-color: #000000;
    position: relative;
    top: -20px;
    left: -20px;
}

.circle {
    border-radius: 100%;
    height: 350px;
    width: 350px;
    position: absolute;
    top:80px;
    bottom: 0;
    left: 0px;
    right: 0;
    overflow: hidden;
}

.containerAlbumImage {
    position: relative;
}

.circleImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;

}

.title {
    margin-top: 70px;
    font-size: 23px;
    color: white;
}