.cardContainerSongs {
    background-color: #000000;
    overflow-y: auto;
    max-height: 470px;
    color: white;
    padding-bottom: 50px;
}

.cardSongContainer {
    background-color: #1c1c1e;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerImage {
    display: flex;
    gap: 10px;
    align-items: center;
}

.colorTitle {
    color: #ffffff;
}

.avatarSong {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.lirycs {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
    padding-bottom: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.progressbarContainer {
    background-color: #000000fa;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%; 
}

.containerImageSong {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.progressBar {
    background-color: #ECF5F9;
    height: 3px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.progress {
    background-color: green;
    height: inherit;

    top: 90px;
    width: 0;
    transform-origin: left;
}